<p>This workgroup's mission is to come together to learn and fortify our collective knowledge of Javascript, OpenGl, Mathematics and Programming Techniques to enrich our website creation. By using the <a href="https://www.udacity.com/course/cs291">course found on Udacity of the same name</a>, and the book <a href="http://shop.oreilly.com/product/0636920024729.do">WebGl Up and Running</a>, we'll cover in a unified manner the basic principles of 3D computer graphics: meshes, transforms, cameras, materials, lighting, and animation, as well as the use of the 3d Graphics Api, Three.js.</p>

<p>By the end of our workgroup, members will know enough to make an animated 3D demo program that runs in a web browser, while also understanding the basic principles of how realistic computer images are generated.</p>

<p>We will also create a unified website to demo our work along the way. Specifically the site will be used to show each other different and interesting techniques we design along the way as well as a demo to our advisors of our work completion. Final awarding of credit will be decided by ITP faculty based on documentation on the web site.</p>
