<html lang="en">
<head>
	<title>
		<%= @page_title %>
	</title>
	<script type="text/javascript" src="/js/application.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/application.css" />
	<body>
		<div class="container">
			<div class="navbar navbar-fixed-top">

			<!-- This is to decide whether the person is logged in or not -->

			<% if login? %> 

				<div class="navbar-inner">
					<div class="nav-collapse">
							<ul class="nav">
								<li>
									<a href="/">
										<span class="siteTitle">Interactive 3D Programming</span>
									</a>
								</li>
								<li>
									<a href="/about">ABOUT</a>
								</li>
								<li>
									<a href="/pages">PAGES</a>
								</li>
							</ul>
						<div class="pull-right">
                			<ul class="nav pull-right">
                			    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= firstname %> <%= lastname %> <b class="caret"></b></a>
                			        <ul class="dropdown-menu">
                			            <li><a href="/profile"><i class="icon-cog"></i> Profile</a></li>
                			            <li class="divider"></li>
                			            <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                			        </ul>
                			    </li>
                			</ul>
              			</div>
					</div>
				</div>

			<% else %>

				<div class="navbar-inner">

					<div class="nav-collapse">

						<ul class="nav">
								<li>
									<a href="/">
										<span class="siteTitle">Interactive 3D Programming</span>
									</a>
								</li>
								<li>
									<a href="/about">ABOUT</a>
								</li>
								<li>
									<a href="/pages">PAGES</a>
								</li>
						</ul>
						<ul class="nav pull-right">
							<li>
								<a href="/signup">SIGNUP</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<form class="loginForm" action="/login" method="POST">
											<input type="text" name="email" placeholder="email" />
											<input type="password" name="password" placeholder="password" />
											<label class="checkbox">
    											<input type="checkbox" name="remember"> Remember me
  											</label>
											<button type="submit"  class="btn">Sign in</button>
										</form>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

			<% end %>

		</div>

		<div class="undernavbar">

			<%= yield %>

		</div>
	</div>
</body>
</html>
