<html lang="en">
<head>
	<title>
		<%= @page_title %>
	</title>
	<script type="text/javascript" src="/js/application.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/application.css" />
	<body>
		<div>
			<div>

			<!-- This is to decide whether the person is logged in or not -->

			<% if login? %> 

				<div>
					<div>
							<ul>
								<li>
									<a href="/">
										<span>Interactive 3D Programming</span>
									</a>
								</li>
								<li>
									<a href="/about">ABOUT</a>
								</li>
								<li>
									<a href="/pages">PAGES</a>
								</li>
							</ul>
						<div>
                			<ul>
                			    <li><a href="#" data-toggle="dropdown">Welcome, <%= firstname %> <%= lastname %> <b></b></a>
                			        <ul>
                			            <li><a href="/profile"><i></i> Profile</a></li>
                			            <li></li>
                			            <li><a href="/logout"><i></i> Logout</a></li>
                			        </ul>
                			    </li>
                			</ul>
              			</div>
					</div>
				</div>

			<% else %>

				<div>

					<div>

						<ul>
								<li>
									<a href="/">
										<span>Interactive 3D Programming</span>
									</a>
								</li>
								<li>
									<a href="/about">ABOUT</a>
								</li>
								<li>
									<a href="/pages">PAGES</a>
								</li>
						</ul>
						<ul>
							<li>
								<a href="/signup">SIGNUP</a>
							</li>
							<li>
								<a href="#" data-toggle="dropdown">Login
									<b></b>
								</a>
								<ul>
									<li>
										<form action="/login" method="POST">
											<input type="text" name="email" placeholder="email" />
											<input type="password" name="password" placeholder="password" />
											<label>
    											<input type="checkbox" name="remember"> Remember me
  											</label>
											<button type="submit" >Sign in</button>
										</form>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

			<% end %>

		</div>

		<div>

			<%= yield %>

		</div>
	</div>
</body>
</html>
