<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		<%= @page_title %>
	</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/application.css" />
	<body>
		<div id="site_holder">
			<header>
			<% if login? %> 
				<ul>
					<li><h2>Interactive 3D Programming</h2></li>
					<li><a href="/">Home</a>/</li>
					<li><a href="/about">About</a>/</li>
					<li><a href="/pages">Pages</a>/</li>
					<li><a href="/forum">Forum</a></li>
				</ul> 
				<section id="welcome">
					<h2>Welcome, <%= firstname %> <%= lastname %>!</h2>
					<ul>
						<li><a href="/profile"><i></i> Profile</a>/</li>
						<li></li>
						<li><a href="/logout"><i></i> Logout</a></li>
					</ul>
				</section>

			<% else %>

				<ul>
					<li><h2>Interactive 3D Programming</h2></li>
					<li><a href="/">Home</a>/</li>
					<li><a href="/about">About</a>/</li>
					<li><a href="/pages">Pages</a>/</li>
					<li><a href="/forum">Forum</a></li>
				</ul>
				<section id="user_control">
					<ul>
						<li id="login"><a href="#" >Log In</a>/
							<div id="login_panel" class="hidden">
								<form action="/login" method="POST">
									<input type="text" name="email" placeholder="email" />
									<input type="password" name="password" placeholder="password" />
									<button type="submit" >Sign in</button>
								</form>
							</div>
						</li>
						<li><a href="/signup">Sign Up</a></li>
					</ul>
					
				</section>
			<% end %>
			</header>

		<div id="main_content">
		<%= yield %>
		</div>
	</div>
</body>
</html>

<!--
              .__....._             _.....__,
                 .": o :':         ;': o :".
                 `. `-' .'.       .'. `-' .'   
                   `---'             `---'  

         _...----...      ...   ...      ...----..._
      .-'__..-""'----    `.  `"`  .'    ----'""-..__`-.
     '.-'   _.--"""'       `-._.-'       '"""--._   `-.`
     '  .-"'                  :                  `"-.  `
       '   `.              _.'"'._              .'   `
             `.       ,.-'"       "'-.,       .'
               `.                           .'
                 `-._                   _.-'
                     `"'--...___...--'"`
-->