<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		<%= @page_title %>
	</title>
	<script type="text/javascript" src="/js/application.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/application.css" />
	<body>
		<div id="site_holder">
			<header>

			<!-- This is to decide whether the person is logged in or not -->

			<% if login? %> 
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/pages">Pages</a></li>
				</ul>
				<section>
					<a href="#">Welcome, <%= firstname %> <%= lastname %></a>
					<ul>
						<li><a href="/profile"><i></i> Profile</a></li>
						<li></li>
						<li><a href="/logout"><i></i> Logout</a></li>
					</ul>
				</section>

			<% else %>

				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/pages">Pages</a></li>
				</ul>
				<section>
					<a href="/signup">Sign Up</a>
					<a href="#">Login</a>

					<form action="/login" method="POST">
						<input type="text" name="email" placeholder="email" />
						<input type="password" name="password" placeholder="password" />
						<button type="submit" >Sign in</button>
					</form>
				</section>
			<% end %>
		</header>

		<div>
			<%= yield %>
		</div>
	</div>
</body>
</html>
