<ul>
<% @people.each do |person| %>
	<li>
		<h2><%= person.name %></h2>
		
		<% person.pages.each do |page| %>
			<a href="/pages/<%= page.slug %>"><%= page.title %></a>
		<% end %>
	</li>
<% end %>
</ul>