<h1><%= @page_heading %></h1>

<form id="signup" action="/signedup" method="POST">
	<ul>
		<li>
			<label for="firstname">First Name</label>
			<input type="text" name="firstname" id="firstname" />
		</li>
		<li>
			<label for="lastname">Last Name</label>
			<input type="text" id="lastname" name="lastname" />
		</li>
		<li>
			<label for="email">Email</label>
			<input id="email" type="text" name="email" /> 
		</li>
		<li>
			<label for="password">Password</label>
			<input id="password" type="password" name="password" />
		</li>
		<li>
			<label for="checkpassword">Reenter Password</label>
			<input type="password" id="checkpassword" name="checkpassword" />
		</li>
		<li>
			<button type="submit" id="fake">Save changes</button>
		</li>
	</ul>
</form>

