html,body { width: 100%; }
body,
.ui-widget { color: #444; font-family: Helvetica, Arial, sans-serif; }
a { color: #9a63c9; text-decoration: none; }
a:hover { background-color: #444; color: #FFF; }
.button { display: inline-block; }
.button.big { font-size: 120%; margin-bottom: 14px; }
.button, form button, .ui-widget-content .button, .ui-widget button { background-color: #444; border: none; color: #fff; cursor: pointer; font-family: Helvetica; font-weight: bold; font-size: 12px; padding: 4px; text-align: center; }
.button:hover, form button:hover { background-color: #9a63c9; }
.code,
.ui-widget .code { font-family: "Lucida Console", Monaco, monospace; width: 83%; }
form input,
form textarea { background-color: #CCC; border: none; color: #444; font-family: Helvetica, Arial, sans-serif; padding: 4px; width: 30%; }
form input:focus,
form textarea:focus { -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, .4); box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, .4); outline: none; }
form label { display: inline-block; font-weight: bold; width: 15%; }
form label[for=text] { display: block; }
li { margin-bottom: 4px; }
p { margin-bottom: 12px; }

#site_holder { background-color: rgba(255,255,255,0.8); margin: 0 auto; width: 100%; }

header { background-color: #CCC; font-weight: bold; height: 18px; margin-bottom: 12px; padding: 6px; }
header h2 { display: inline; }
header ul { float: left; }
header ul li { display: inline; }
header ul li a { margin-right: 4px; }

header section { float: right; position: relative; }

#login form > input,
#login form label,
#login form button { display: block; width: 30%; }

#login_panel { background-color: #9a63c9; padding: 10px; position: absolute; right: 0; }
#login_panel.hidden { display: none; }
#login_panel form button { float: right; }
#login_panel form button:hover { background-color: #444; }
#login_panel form input { background-color: rgba(255,255,255,0.8); width: auto; }

#main_content { padding: 0 6px; }
#main_content h1 { font-size: 140%; font-weight: bold; margin-bottom: 12px; }
#main_content h2 { font-size: 110%; font-weight: bold; margin-bottom: 8px; }

#welcome ul { display: inline; float: none; }

#pages_list h2 { font-weight: bold; }
#pages_list > li { margin-bottom: 12px; }

#addproject ul li label { vertical-align: top; }

#profile ul { margin-bottom: 12px; }
#profile_controls li { display: inline; }

#forum_topics { margin-bottom: 12px; }
#forum_topics li { background-color: #DFDFDF; border-left: 4px solid #444; padding: 10px; }
#forum_topics .replies { margin-top: 12px; }
#forum_topics .replies li { background-color: #CDCDCD; }
#forum_topics .replies li p { margin-bottom: 0; }

.page_controls,
.page_controls li { display: inline; }